.tweet {
  flex-direction: column;
  display: flex;
  background-color: #ececec;
  border-radius: 5px;
  border-color: #bdbdbd;
  border-style: solid;
  border-width: 1px;
  padding: 0;
  display: flex;
  margin-top: 50px;
  background-color: white;
  height: 220px;
}

.tweet img {
  width: 55px;
  height: 55px;
  border-width: 1px;
  border-radius: 5px;
  background-color: cyan;
  margin-top: 7px;
  margin-left: 15px;
}

.tweet header {
  display: flex;
  background-color: rgba(158, 158, 158, 0.13);
  border-top: solid #bdbdbd 0px;
  border-radius: 5px;
  justify-content: space-between;;
  height: 70px;
}

.tweet header h1 {
  font-size: 1.5em;
  color: #6b6c6f;
  padding-left: 5px;
  padding-right: 130px;
  margin-top: 10px;
}

.tweet header h2 {
  font-size: 1em;
  font-weight: 100;
  color: rgba(128, 128, 128, 0.63);
  margin-right: 10px;
}

.tweet .tweet-body {
  height: 100px;
}

.tweet .tweet-body p {
  font-size: 1.3em;
  margin-left: 15px;
  margin-top: 35px;
}

.tweet footer {
  border-top: solid 1px rgba(128, 128, 128, 0.32);
  height: 5px;
  display: flex;
  justify-content: space-between;
}

.tweet footer p {
  font-size: 0.9em;
  margin-left: 15px;
}

.tweet footer span {
  margin-top: 15px;
  margin-right: 5px;
  color: white;
}

.tweet footer span i {
  margin-left: 4px;
}

.tweet:hover {
  border: solid gray 2px;
}

.tweet:hover footer span {
  color: #7BC3B7;
}
